# Dependencies
node_modules/
dist/
build/

# Coverage folders
coverage/

# Environment variables
.env
.env.*

# Git and OS metadata
.git/
.DS_Store

# Lock files (optional: usually better to let the package manager handle these)
package-lock.json
yarn.lock
pnpm-lock.yaml